.collage-img {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
    opacity: 0.6;
    transition: 0.5s;
}

.map-container {
    padding: 5px;
    margin-left: 5px;
}

.map-container:hover img {
    opacity: 1;
}


h4 {
    top: 20px;
    margin-left: 20px;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

.text, h4 {
    position: absolute;
    color: white;    
}

.text {
    top: 30%;
    font-size: 1.8vw;
}

.custom-butt {
    padding: 10px 20px;
    cursor: pointer;
    min-height:20%;
    z-index: 1000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.399);
    border-radius: 5px;;
    bottom: 10%;
}


/* Dostosuj dla ekranów o szerokości do 576px
@media (max-width: 576px) {
    .single-map {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .single-map {
        width: 70%;
        height: auto;
    }
}

@media (min-width: 769px) {
    .single-map {
        width: 60%;
        height: auto;
    }
} */
