img {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
    object-fit: cover;
    opacity: 0.5;
    position: relative;
    transition: 0.5s;
    z-index: 0;
}

.map-container {
    margin-left: 5px;
}

.single-map {
    z-index: 1;
    width: 18%;
}

.map-container:hover img {
    opacity: 1;
    transition: 0.5s;
    height: auto;
}


h4 {
    display: flex;
    top: 40px;
    margin-left: 20px;
    font-size: 1.8vw;
    font-weight: 800;
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
}

.text, h4 {
    position: absolute;
    color: white;    
}

.text {
    top: 50%;
    font-size: 1.6vw;
}

.loading {
    position: absolute;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

/* Dostosuj dla ekranów o szerokości do 576px
@media (max-width: 576px) {
    .single-map {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .single-map {
        width: 70%;
        height: auto;
    }
}

@media (min-width: 769px) {
    .single-map {
        width: 60%;
        height: auto;
    }
} */
