.collage-img {
    width: 100%;
    min-width: 100px;
    height: auto;
    border-radius: 2%;
    opacity: 0.6;
    transition: 0.5s;
}
span {
    position: relative;
    margin-top: 40px;
}

.map-container {
    flex-direction: row;
    padding: 5px;
    margin-left: 5px;
    min-width: 100%;
}

.map-container:hover img {
    opacity: 1;
}


h4 {
    top: 20px;
    margin-left: 20px;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

.text, h4 {
    position: absolute;
    color: white;    
}

.text {
    top: 30%;
    font-size: 1.8vw;
}

.custom-butt {
    padding: 25px 20px;
    cursor: pointer;
    /* height: 200px; */
    z-index: 1000;
    background-image: linear-gradient(rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.32));
    border-radius: 5px;;
    /* bottom: 10%; */
}


/* Dostosuj dla ekranów o szerokości do 576px
@media (max-width: 576px) {
    .single-map {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .single-map {
        width: 70%;
        height: auto;
    }
}

@media (min-width: 769px) {
    .single-map {
        width: 60%;
        height: auto;
    }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .single-map {
        width: 100%;
        height: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}