body {
    display: flex;
    flex-direction: column;
}
.stats-container {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: left;
    font-size: 2vw;
    color: #878da4;
    padding: 10px;
}

.side_buttons_container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.side_buttons {
    color: white;
    justify-content: center;
    width: 100%;
    border-radius: 0;
    margin: 0;
    margin-bottom: 0;
}
.terro_selected {
    color: rgb(214, 138, 138);
    justify-content: center;
    background-color: #161623dc;    
    width: 100%;
    border-radius: 0;
}
.ct_selected {
    color: #92aaff;
    justify-content: center;
    background-color: #161623dc;    
    width: 100%;
    border-radius: 0;
}

.oall_selected {
    color: #ffffff;
    justify-content: center;
    background-color: #161623dc;    
    width: 100%;
    border-radius: 0;
}
.super {
    color: white;
}