body {
    display: flex;
    flex-direction: column;
    /* width: 90%; */
}
.stats-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    
}
h2 {
    text-align: left;
    font-size: 1.2vw;
    /* color: #878da4; */
    padding: 8px;
}

.side-buttons {
    color: white;
    justify-content: center;
    width: 100%;
    font-size: 0.9vw;
    border-radius: 0;
    margin: 0;
}
.terro-selected {
    color: rgb(214, 138, 138);
    justify-content: center;
    background-color: #161623dc;    
    width: 100%;
    border-radius: 0;
    font-size: 0.9vw;

}
.ct-selected {
    color: #92aaff;
    background-color: #161623dc;    
    width: 100%;
    border-radius: 0;
    font-size: 0.9vw;

}

.oall-selected {
    color: #ffffff;
    justify-content: center;
    background-color: #161623dc;    
    width: 100%;
    border-radius: 0;
    font-size: 0.9vw;
}


.super {
    color: white;
}

.side-buttons-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    
}


.match-buttons-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: larger;
    box-shadow: none;
}
.match-buttons {
    color: white;
    width: 100%;
    padding: 7px;
    font-size: 1vw;
    border-radius: 0;
    margin: 0;
    justify-content: center;
}

.overview-selected {
    color:#b5c5ff;
    justify-content: center;
    background-color: #161623dc;    
    box-shadow: none;
}