body {
    display: flex;
    flex-direction: column;
    /* width: 90%; */
}
.stats-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    
}
h2 {
    padding: 8px;
}

.image-cover {
    background-color: rgba(0, 0, 0, 0.331);
    padding: 10px;
}

.extra {
    color: white;
}

.side-buttons {
    color: white;
    justify-content: center;
    width: 100%;
    font-size: 0.9vw;
    border-radius: 5px;
    margin: 2px;
}
.terro-selected {
    color: rgb(214, 138, 138);
    justify-content: center;
    background-color: #161623dc;    
    width: 100%;
    border-radius: 5px;
    font-size: 0.9vw;

}
.ct-selected {
    color: #92aaff;
    background-color: #161623dc;    
    width: 100%;
    border-radius: 5px;
    font-size: 0.9vw;

}

.oall-selected {
    color: #ffffff;
    justify-content: center;
    background-color: #161623dc;    
    width: 100%;
    font-size: 0.9vw;
    border-radius: 5px;
}


.super {
    color: white;
}

.side-buttons-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    
}


.match-buttons-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: larger;
    box-shadow: none;
}
.match-buttons {
    color: white;
    width: 100%;
    padding: 7px;
    font-size: 1vw;
    border-radius: 5px;
    margin: 2px;
    justify-content: center;
}

.overview-selected {
    color:#b5c5ff;
    justify-content: center;
    background-color: #161623dc;    
    box-shadow: none;
    border-radius: 5px;
}

select {
    /* background-color: black; */
    color: black;
}

option {
    color: black;
}

.match-card {
    border-radius: 5px;
    width: 100%;
    opacity: 0.8;
    background-size: cover;  /* dostosuj skalę obrazu */
    background-position: center center;  /* dostosuj pozycję obrazu */
    color: #fff;  /* kolor tekstu, aby był widoczny na tle obrazu */
  }
  