.lists-container {
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 0.8vw;
 }

 .lists-container:hover {
    cursor:pointer;
 }

 .extra-tr:hover {
    color:#c0c0ff;
 }