.lists-container {
   margin: 5px;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 0.8vw;
    width: 60%;
    height: 100%;
    /* padding: 10px; */
 }

 .lists-container:hover {
    cursor:pointer;
 }

 .extra-tr:hover {
    color:#c0c0ff;
 }

 @media only screen and (max-width: 768px) {
   th {
      font-size: 20px;
   }
   tr {
      font-size: 16px;
   }
   .lists-container {
      width: 100%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
      th {
          font-size: 20px;
       }
       tr {
          font-size: 16px;
       }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
      th {
          font-size: 1.3vw;
       }
       tr {
          font-size: 1vw;
       }
  }