.lists-container {
   margin: 5px;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 0.8vw;
    width: 60%;
    height: 100%;
    /* padding: 10px; */
 }

 .lists-container:hover {
    cursor:pointer;
 }

 .extra-tr:hover {
    color:#c0c0ff;
 }