.extra {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.instr {
    display: flex;
    flex-direction: row;
}

.dif2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_container {
    color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5vw;
    width: 70vw;
    height: 80vh;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(8px);
}


.login_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #1d1d2e1b;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 0.5vw;
    justify-content: space-between;
    word-wrap: break-word;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

/* .login_container.progress {
    cursor: wait;
} */

.login-input {
    text-align: center;
    margin: 5px;
    padding: 1vh;
    background-color: #07070b;
    color:#e6e6e6;
    border: 0px solid rgba(122, 122, 122, 0);
    border-radius: 6px;
    font-size: 1.2vw;
    box-shadow: inset 0px 8px 17px rgba(0, 0, 0, 0.25);
    max-width: fit-content;
    min-width: 19vw;
    width: 20vw;
}


.buttons {
    background-color: #1D1D2E;
    border: 0px;
    border-radius: 6px;
    font-size: 1.2vw;
    text-align: center;
    margin: 5px;
    padding: 0.5vw;
    color: #e6e6e6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    min-width: 19vw;
    justify-content: center;
}

.arrow {
    padding: 10px;
    justify-content: center;
    border: 0px;
    border-radius: 100%;
    margin: 5px;
    transition: 0.5s;
    /* box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.25); */
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 0.5vw;
}

.arrow img {
    height: 100%;
    width: auto;
    will-change: filter;
    filter: drop-shadow(0 0 0.5px rgba(250, 250, 255, 0.3));
    transition: filter 300ms;
}

.buttons:hover {
    background: #2f2f4a;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 3.6vw;
    color: #878da4;
}

h2 {
    text-align: center;
    font-size: 1.8vw;
    color: #878da4;
}

h3 {
    text-align: center;
    font-size: 1.2vw;
    color: #878da4;
}

.main_container img {
    display: flex;
    scale: 0.5;
    will-change: filter;
    filter: drop-shadow(0 0 1px rgba(134, 154, 255, 0.107));

    transition: filter 300ms;
}

a {
    color: #7c7ca3;
    font-weight: bold;
    text-decoration: none;
    transform: 0.5s;
}
a:hover {
    color: #6c6cb8;
    font-weight: bold;
    text-decoration: none;
}

p {
    font-size: 0.8vw;
}

 /*@media screen and (max-width: 475px)
  {
    .h1{font-size: 20px}
    .main_container{height: 100%; width: 100%; border: 0px; font-size: 5vw; backdrop-filter: blur(0px); box-shadow: none;} 
    .buttons{font-size: 5vw; padding: 1vw;}
    .scroll{display: none}
    /* .html{backdrop-filter: blur(20px);} 

  }
  /* @media screen and (max-width: 1440px)
  {
      .main_container{height: 100%; width: 100%; border: 0px}
  } */
