.table-container {
    margin-bottom: 1%;
    background-color: #1D1D2E;
    list-style-type: none;
    align-items: center;
    border-collapse: collapse;
   
}


table {
    box-shadow: 0px, 10px, 5px black;    
}
td {
    padding: 5px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px solid #2a2a42;
}

tr {
    background: linear-gradient(180deg, #1d1d2ee0 30%, #1d1d2e23 100%);
    transition: 0.7s;
}

tr:hover {
    background-color: #2f2f4a;
}

td:hover {
    padding: 5px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

th {
    font-size: 1.2vw;
    background-color: #161623;
    padding: 10px;
    font-size: larger;
    border-bottom: 1px solid  #2a2a42;
}

.tables-container {
    margin-top: 5.8%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    box-shadow: 2px 2px 5px #0C0C13;;
    transition: 0.3s;
    opacity: 0.85;
    margin-right: 15px;
}

.avatar-col { 
    font-size: 1vw;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    min-width: fit-content;
    width: 200px;
    padding: 5px;
}

.greatrating-col, .neutralrating-col, .badrating-col, .all-col {
    font-weight: 500;
    font-size: 1vw;
    width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: filter;
    padding: 5px;
}
.greatrating-col {
    filter: drop-shadow(0 0 6px rgba(3, 187, 0, 0.442));
    color: rgb(196, 255, 205);
}

.neutralrating-col {
    filter: drop-shadow(0 0 6px rgba(187, 0, 0, 0.442));
    color: rgb(196, 204, 255);
}

.badrating-col {
    filter: drop-shadow(0 0 6px rgba(187, 0, 0, 0.442));
    color: rgb(255, 196, 196);
}

.avatar-image:hover {
    min-width: 50px;
    min-height: 50px;
    border-radius: 15%;
    opacity: 1;
    box-shadow: 4px 4px 5px #0C0C13;
}
