.table-container {
    margin-bottom: 1%;
    background-color: #1d1d2edb;
    border-collapse: collapse; 
    width: 100%;
}

.tables-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

table {
    border-radius: 10px;    
    box-shadow: 0px 5px 15px #07070bcb;
}

.tablediv {
    width: 100% !important;
}

td {
    /* width: 100%; */
    padding: 0.5%;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #1d1d2e1b;
    /* width: 100px; */
}

tr {
    
    background: linear-gradient(180deg, #1d1d2ee0 30%, #1d1d2e23 100%);
    transition: 0.7s;
    
}

tr:hover {
    background-color: #2f2f4a;
}

td:hover {
    padding: 0.5%;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

th {
    justify-content: center;
    text-align: center;
    font-size: 1.2vw;
    background-color: #161623dc;
    padding: 1%;
    font-size: larger;
    border-bottom: 1px solid  #2a2a42;
}

.avatar-col { 
    font-size: 1vw;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    min-width: 4vw;
    max-width: 100px;
    text-wrap: nowrap;
}

.greatrating-col, .neutralrating-col, .badrating-col, .all-col {
    font-weight: 500;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    background-color: filter;
    /* padding: 5px; */
}
.greatrating-col {
    filter: drop-shadow(0 0 6px #829dff74);
    color: #92aaff;
}

.neutralrating-col {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.442));
    color: rgb(255, 255, 255);
}

.badrating-col {
    filter: drop-shadow(0 0 6px rgba(233, 146, 146, 0.442));
    color: rgb(214, 138, 138);
}

.avatar-image {
    min-width: 40px;
    min-height: 40px;
    border-radius: 12%;
    box-shadow: 2px 2px 5px #0C0C13;;
    transition: 0.3s;
    opacity: 0.8;
    margin-right: 15px;
}

.avatar-image:hover {
    min-width: 40px;
    min-height: 40px;
    border-radius: 15%;
    opacity: 1;
    box-shadow: 4px 4px 5px #0C0C13;
}

.terro-container tr {
    background: linear-gradient(180deg, #1d1d2ee0 30%, #1d1d2e23 100%);
    transition: 0.7s;
}

.terro-container tr:hover {
    background-color: #58345647;
}

.terro-container table {
    box-shadow: 0 5px 10px rgba(67, 33, 33, 0.2);
}

.ct-container tr {
    background: linear-gradient(180deg, #1d1d2ee0 30%, #1d1d2e23 100%);
    transition: 0.7s;
}

.ct-container tr:hover {
    background-color: #5d5db956;
}

.ct-container table {
    box-shadow: 0 5px 10px rgba(42, 37, 84, 0.2);
}

.oall-container tr {
    background: linear-gradient(180deg, #1d1d2ee0 30%, #1d1d2e23 100%);
    transition: 0.7s;
}

.oall-container tr:hover {
    background-color: #2f2f4a;
}

.oall-container table {
    box-shadow: 0 5px 10px rgba(21, 21, 21, 0.2);
}