img {
    width: 100%;
    border-radius: 2%;
    background-size: cover;
    opacity: 0.5;
    position: relative;
    transition: 0.5s;
    z-index: 0;
}

.map-container {
    margin-left: 5px;
    justify-content:space-between;
    width: 98%;
}

div {
    border-radius: 5px;;
}

.single-map {
    z-index: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:space-between;
    background-size: cover;
    border-radius: 2%;
    width: 100%;
    background-color: rgba(33, 28, 50, 0.573);
}

.map-container:hover img {
    opacity: 1;
    transition: 0.5s;
}


h4 {
    position: absolute;
    display: flex;
    top: 40px;
    margin-left: 20px;
    color: white;
    font-size: 48px;
    font-weight: 800;
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
}

.text {
    position: absolute;
    color: white;
    font-size: 32px;
    top: 120px;
}
