header {
    position: fixed;
    margin-left: 15%;
    z-index: 1;
    top: 20px;
    left: 20px;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    display: flex;
    background-color: #543a6577;
    color: white;
    text-align: center;
    font-size: larger;
    width: 58%;
    height: 80%;
    border-radius: 5px;
    justify-content: center;
    border: none;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
    margin-right: 10px;
    margin-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

header img {
    height: 4em;
}

.avatar {
    border: 3px solid white;
    border-radius: 0.3vw;
    height: 80px;
}

h3 {
    color: white;
}