h3 {
    font-size: 32px;
}

.chart-container {
    display: flex;
    flex-direction: row;
    position:relative;
    justify-content: space-between;
    max-width: 34%;
}

body {
    height: 100vh;
    margin-top: 30px;
    margin-left: 5%;
    padding: 30px;
    
}