.table-container {
    background-color: rgb(53, 40, 59);
    list-style-type: none;
    width: 100%;
    margin: 1%;
    border-radius: 5px;
    border-collapse: collapse;
}


.table-insights {
    background-color:rgb(53, 40, 59);
    width: 10%;
    border-bottom: 1px solid rgb(66, 50, 71);
}

table, td {
    border-top: 1px bl;
    border-right: 0px;
    border-radius: 20px;
}

table {
    box-shadow: 0px, 10px, 5px black;
}
td {
    padding: 5px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    border-bottom: 1px solid rgb(66, 50, 71);
}

tr:hover {
    background-color: rgba(66, 50, 71, 0.1); /* Dodaj podświetlenie */
}

td:hover {
    padding: 5px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    border-bottom: 1px solid rgb(66, 50, 71);
}

th {
    background-color: rgb(38, 29, 42);
    /* border-radius: 5px 0px 0p; */
    border-bottom: 1px solid rgb(48, 36, 52);
}

.tables-container {
    display:flex;
    flex-direction: column;

}

.avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    opacity: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.256);
}