:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #07070c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #9493bf;
  text-decoration: inherit;
}
a:hover {
  color: #b9b8ea;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  justify-content: center;
  margin-top:8vh;
  min-width: 320px;
  min-height: 92vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 10px;
}

button {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  /* margin: 10px; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #07070c00;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  background-color: #1d1d2e00;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.twitch-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hltv-test {
  display: flex;
  flex-direction: row;
}

.switch-holder {
  display: flex;
  justify-content: center;
  margin: 10px;
  transition: background-color 0.3s;
  border-radius:20px;
}
.switch-holder button {
  background-color: #07070c;
}

.switch-holder button.active {
  /* style dla aktywnego przycisku */
  background-color: #1d1d2e; /* Przykładowy kolor tła dla aktywnego przycisku */
  color: white; /* Przykładowy kolor tekstu dla aktywnego przycisku */
  border: 2px solid #1d1d2e; /* Przykładowa ramka dla aktywnego przycisku */
  border-radius: 10px;
}
.lol {
  display: flex;
  flex-direction: row;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #13131f;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #1d1d2e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ov-container {
  display: flex;
  border-radius: 100px;
  justify-content: center;
  align-items: ce;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
