.player-container {
    display: flex;
    /* border: 1px solid rgb(255, 255, 255); */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 3px solid rgba(116, 121, 140, 0.396); */
    background-color: #181827;
    border-radius: 10px;
    align-items: center;
    margin-right: 15px;
    width: 100%;

}

.charts {
    display: flex;
    flex-direction: row;
}
.page-con {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;

    padding: 10px;
    /* height: 55%; */
}

.profile img {
    height: 150px;
    border-radius: 50%;
    margin: 15px;
    border: 3px solid rgb(40, 42, 48);
}

p {
    font-size: 20px;
}
