
table {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
  }
  
  thead {
    background-color: #1D1D2E;
    font-size: 20px;
    border-bottom: 2px solid #000000;  
  }
  th {
    width: 100px;
    padding: 4px;
    margin-bottom: 10px;
  }
  
  
  td {
    background-color: #181827;
    font-size: 16px;
  }
  
  tr:hover td {
    background-color: #232338;
  }
  
  tbody {
    color: white;
  }

  table img {
    height: 25px;
    border-radius: 5px;
    padding: 1px;
    margin-right: 10px;
  }

  .row1-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
  }