/* #root {
  /* margin-top: 5%; */
  /* margin-left: 13.5%; */
  /* padding-left: 1%; */
  /* text-align: center; */
/* } */
.logo {
  /* height: 8vw; */
  min-width: 100px;
  padding: 0.8em;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.375));
}

@media only screen and (max-width: 768px) {
.logo {
  height: 70px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo {
    height: 200px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo {
    height: 150px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
