/* #root {
  /* margin-top: 5%; */
  /* margin-left: 13.5%; */
  /* padding-left: 1%; */
  /* text-align: center; */
/* } */
.logo {
  height: 3em;
  left: 0;
  width: auto;
  padding: 1em;
  justify-content: center;
  align-items: center;
  will-change: filter;
  filter: drop-shadow(0 0 0.5px rgba(240, 241, 255, 0.5));
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 0.5px rgba(240, 241, 255, 0.729));
}

